mixin commentSection(post, credentials)
  section.mt-4.p-3.sticky-top.rounded-4.post-card
    h5 Comments
    hr
    if credentials 
      section.mx-1.mt-3.px-2.py-3.rounded-3.row.comment
        form(action=`/posts/${post.Id}` method='POST')
          .form-outline
            textarea.form-control.px-2.text-white(
              rows='4', 
              name='content'
              style='background: #282828'
            )
            .mt-3
              button.btn.custom-button(type='submit') Post
      hr
    if post.Comments.length === 0
      include ./message
      +message('comment', 'No comments on this post')
    else
      each record in post.Comments 
        include ./comment
        +comment(record, credentials)