footer.text-center.text-white(style='background-color: #161616')
      .container
        section.mb-5
          .row.d-flex.justify-content-center
            .col-lg-8
              p.mt-5
                | Proyecto desarrollado para la Universidad de Costa Rica,
                | curso CI0137 - Desarrollo de aplicaciones web.  
                | Esta aplicación fue desarrollada utilizando Node.JS, Bootstrap
                | y Pug empleando el patrón de diseño MVC
      hr.my-1
      .text-center.p-3(style='background-color: #161616')
        p &copy; 2023 Copyright | esteban.castaneda@ucr.ac.cr | daniel.lizano@ucr.ac.cr