.mx-3 
  nav.navbar.navbar-expand-lg.navbar-dark.px-10(style='background-color: #1C1C1C')
      .container-fluid
        if Credentials
          a.navbar-brand.navmenu-link.fw-bold.mt-1(href='/profile/posts') @#{Credentials.email.split('@')[0]}
        button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarNavDarkDropdown', aria-controls='navbarNavDarkDropdown', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarNavDarkDropdown.collapse.navbar-collapse
          ul.navbar-nav
            a.nav-link.navmenu-link.mx-3.fw-bold(href='/') Home
            if Credentials
              if (Credentials.admin === true)
                a.nav-link.navmenu-link.mx-3.fw-bold(href='/admin') Admin
              a.nav-link.navmenu-link.mx-3.fw-bold(href='/logout') Log out
            else 
              a.nav-link.navmenu-link.mx-3.fw-bold(href='/signup') Sign up
              a.nav-link.navmenu-link.mx-3.fw-bold(href='/login') Log in
hr.my-1.text-white