mixin postSection(config, Posts, Credentials, Username, CategoryName)
  include ../layout/mainContainer
    block content
      if config.Type === 'Home' && Credentials
        .my-1
          a.btn.mb-3.custom-button(href='/posts/new') Post something
      else if config.Type === 'User'
        h5 @#{Username}'s posts 
        hr
      else if config.Type === 'Category'
        h5 #{CategoryName} posts 
        hr
      if Posts.length === 0
        include ./message
        +message('info', 'Sorry, no related posts found :(')
      else
        each record in Posts
          include ./post
          +post(record, Credentials)