mixin postSection(config, Posts, Username, Category)
  include ../layout/mainContainer
    block content
      if config.Type === 'Home'
        .my-1.d-grid.gap-2
          a.btn.custom-button(href=process.env.CREATE_POST_PAGE) Post
      else if config.Type === 'User'
        h5 @#{Username}'s posts 
        hr
      else if config.Type === 'Category'
        h5 #{Category} posts 
        hr
      if Posts.length === 0
        include ./noPosts
      else
        each record in Posts
          include ./post
          +post(record)