extends ./layout/defaultLayout
  
block content
  include ./components/postSection
  +postSection({ PostButton: true, Type: 'Category' }, Posts, Credentialas, Author, Category)
  include ./components/sideBar
  +sideBar(Categories, Authors)