extends ./layout/defaultLayout
  
block content
  include ./components/postSection
  +postSection({ PostButton: false, Type: 'Category', Pages, CurrentPage }, Posts, Credentials, Author, Category)
  include ./components/sideBar
  +sideBar(Categories, Authors)