extends ./layout/defaultLayout
  
block content 
  include ./components/postSection
  +postSection({ PostButton: true, Type: 'Home' }, Posts)
  include ./components/categorySection
  +categorySection(Categories)