extends ./layout/defaultLayout
  
block content
  include ./components/postSection
  +postSection({ PostButton: true, Type: 'User', Pages, CurrentPage, AuthorId }, Posts, Credentials, Author)
  include ./components/sideBar
  +sideBar(Categories, Authors)