extends ./layout/defaultLayout
  
block content
  include ./components/postSection
  +postSection({ PostButton: true, Type: 'User' }, Posts, Author)
  include ./components/sideBar
  +sideBar(Categories, Authors)