body {
  background-color: #1C1C1C;
  color: #FFFFFF;
}

.custom-button {
  background: #33996B;
  color: #FFFFFF;
}

.custom-button:hover {
  background: #37bE83;
  font-weight: bold;
}

.custom-container {
  min-height: 71vh;
  max-width: 100%;
}

.navmenu-link {
  text-decoration: none;
}

.navmenu-link:hover {
  color: #37bE83;
}

.post-card {
  background: #232323;
  margin-left: 1px;
  margin-right: 1px;
}

.post-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.full-post-card-img {
  width: 100%;
  height: 100%;
  max-width: 250px;
  max-height: 250px;
  object-fit: contain;
}

.author-link {
  color: #FFFFFF;
  text-decoration: none !important; 
}

.author-link:hover {
  color: #37bE83;
  cursor: pointer;
}

.more-link {
  color: #33996B;
  margin-left: 5px;
  text-decoration: none !important; 
}

.more-link:hover {
  color: #37bE83;
  font-weight: bold;
}

.category {
  background: #33996B;
}

.category a {
  color: #FFFFFF;
  text-decoration: none !important;
}

.category:hover {
  background: #37bE83;
  font-weight: bold;
  cursor: pointer;
}

.comment {
  background: #161616;
}
