body {
  background-color: #1C1C1C;
  color: #FFFFFF;
}

.custom-button {
  background: #33996B;
  color: #FFFFFF;
}

.custom-error-button {
  background: #FF4D4F;
  color: #FFFFFF;
}

.custom-error-button:hover {
  background: #FF8081;
  color: #FFFFFF;
  font-weight: bold;
}

.custom-button:hover {
  background: #37bE83;
  color: #FFFFFF;
  font-weight: bold;
}

.custom-container {
  min-height: 71vh;
  max-width: 100%;
}

.navmenu-link {
  text-decoration: none;
}

.navmenu-link:hover {
  color: #37bE83;
}

.post-card {
  background: #232323;
  margin-left: 1px;
  margin-right: 1px;
}

.success {
  background: #33996B;
  margin-left: 1px;
  margin-right: 1px;
}

.error {
  background: #FF4D4F;
  margin-left: 1px;
  margin-right: 1px;
}

.post-card img {
  width: 100%;
  height: 100%;
  max-width: 250px;
  max-height: 250px;
  object-fit: cover;
}

.full-post-card-img {
  width: 100%;
  height: 100%;
  max-width: 250px;
  max-height: 250px;
  object-fit: contain;
}

.author-link {
  color: #FFFFFF;
  text-decoration: none !important; 
}

.author-link:hover {
  color: #37bE83;
  cursor: pointer;
}

.more-link {
  color: #33996B;
  margin-left: 5px;
  text-decoration: none !important; 
}

.more-link:hover {
  color: #37bE83;
  font-weight: bold;
}

.category {
  background: #33996B;
}

.category a {
  color: #FFFFFF;
  text-decoration: none !important;
}

.category:hover {
  background: #37bE83;
  font-weight: bold;
  cursor: pointer;
}

.comment {
  background: #161616;
}

.full-post-img {
  max-width: 500px;
  max-height: 600px;
  object-fit: contain;
}

.pagination li.page-item a {
  border: none;
}

.pagination li.page-item a {
  background: #232323;
  color: #FFFFFF;
}

.pagination li.page-item a.page-link.active {
  background-color: #33996B;
}

.pagination li.page-item a:hover {
  background: #37bE83;
  color: #FFFFFF;
  font-weight: bold;
}

.custom-table {
  background: #161616 !important;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  max-width: 100%;
  border-radius: 10px;
}

.custom-table th,
.custom-table td {
  padding: 0.5rem;
  vertical-align: top;
  border-top: 0.01px solid #dee2e6;
}

.custom-table thead th {
  border-top: none;
  vertical-align: bottom;
}

.table tbody + tbody {
  border-top: 2px solid #dee2e6;
}

.table thead {
  background: #33996B !important;
}

.table tbody {
  background: #33996B !important;
}
