doctype doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Web Blog
    link(rel="stylesheet", href="./bootstrap/bootstrap.min.css")
    link(rel="stylesheet", href="./css/styles.css")
    script(src="./bootstrap/bootstrap.bundle.min.js")
  body
    include ../components/navmenu
    .custom-container.justify-content-center.py-3.row
      block content
    include ../components/footer 